@charset "utf-8";

.page{
    list-style-type:none;
    float:left;
    margin:2px;
    border: #bbbbbb 1px solid;
    background-color:#fff;
}
.page a {
    display:block;
    width:18;
    padding:5px 5px 5px 5px; 
    text-decoration:none;

}

.page a:hover {
    background-color:#0000cc;
    color:#ffffff;
}

.page_on{
    background-color:#aaaaaa;
    list-style-type:none;
    float:left;
    margin:2px;
    width:18;
    padding:5px 5px 5px 5px; 
    border: #bbbbbb 1px solid;
}

.bemoove_title{color: #555;background-color:#eee; font-size: 100%; padding:5px;}
.bemoove_description{color: #888;margin:0px; padding:0px;}